USE [CyberGameDB]
GO
/****** Object:  Table [dbo].[BOOKINGS]    Script Date: 01/10/2026 3:30:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKINGS](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[computer_id] [int] NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NULL,
	[hold_expires_at] [datetime] NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[cancelled_at] [datetime] NULL,
	[cancel_reason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAT_MESSAGES]    Script Date: 01/10/2026 3:30:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAT_MESSAGES](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[chat_session_id] [int] NOT NULL,
	[sender] [varchar](20) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAT_SESSIONS]    Script Date: 01/10/2026 3:30:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAT_SESSIONS](
	[chat_session_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[started_at] [datetime] NOT NULL,
	[ended_at] [datetime] NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[chat_session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPUTERS]    Script Date: 01/10/2026 3:30:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPUTERS](
	[computer_id] [int] IDENTITY(1,1) NOT NULL,
	[zone_id] [int] NOT NULL,
	[computer_name] [varchar](50) NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[computer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EQUIPMENT]    Script Date: 01/10/2026 3:30:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPMENT](
	[equipment_id] [int] IDENTITY(1,1) NOT NULL,
	[computer_id] [int] NOT NULL,
	[equipment_name] [nvarchar](100) NOT NULL,
	[condition_status] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[equipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOOD_ORDER_ITEMS]    Script Date: 01/10/2026 3:30:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOOD_ORDER_ITEMS](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[food_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOOD_ORDERS]    Script Date: 01/10/2026 3:30:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOOD_ORDERS](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[booking_id] [int] NULL,
	[session_id] [int] NULL,
	[seat_label] [varchar](20) NULL,
	[payment_method] [varchar](30) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[total_amount] [decimal](12, 2) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOODS]    Script Date: 01/10/2026 3:30:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOODS](
	[food_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[category] [varchar](50) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[image_url] [varchar](255) NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[food_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KNOWLEDGE_BASE]    Script Date: 01/10/2026 3:30:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KNOWLEDGE_BASE](
	[knowledge_id] [int] IDENTITY(1,1) NOT NULL,
	[question] [nvarchar](max) NOT NULL,
	[answer] [nvarchar](max) NOT NULL,
	[category] [nvarchar](50) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[knowledge_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_METHODS]    Script Date: 01/10/2026 3:30:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_METHODS](
	[method_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[code] [varchar](30) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECHARGES]    Script Date: 01/10/2026 3:30:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECHARGES](
	[recharge_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[method_id] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[transaction_code] [varchar](100) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[sepay_transaction_id] [bigint] NULL,
	[reference_code] [varchar](100) NULL,
	[content] [nvarchar](500) NULL,
	[paid_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[recharge_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SESSIONS]    Script Date: 01/10/2026 3:30:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSIONS](
	[session_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NULL,
	[user_id] [int] NOT NULL,
	[computer_id] [int] NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NULL,
	[total_minutes] [int] NULL,
	[total_cost] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPORT_TICKETS]    Script Date: 01/10/2026 3:30:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPORT_TICKETS](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[chat_session_id] [int] NOT NULL,
	[assigned_staff] [int] NULL,
	[subject] [nvarchar](255) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 01/10/2026 3:30:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[date_of_birth] [date] NULL,
	[balance] [decimal](12, 2) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WALLET_TRANSACTIONS]    Script Date: 01/10/2026 3:30:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WALLET_TRANSACTIONS](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [varchar](30) NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[reference_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZONES]    Script Date: 01/10/2026 3:30:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZONES](
	[zone_id] [int] IDENTITY(1,1) NOT NULL,
	[zone_name] [nvarchar](50) NOT NULL,
	[specs] [nvarchar](255) NULL,
	[price_per_hour] [decimal](10, 2) NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[zone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BOOKINGS] ON 

INSERT [dbo].[BOOKINGS] ([booking_id], [user_id], [computer_id], [start_time], [end_time], [hold_expires_at], [status], [created_at], [cancelled_at], [cancel_reason]) VALUES (1, 1, 45, CAST(N'2026-09-30T22:13:27.227' AS DateTime), CAST(N'2026-10-01T01:13:27.227' AS DateTime), CAST(N'2026-09-30T21:43:27.227' AS DateTime), N'confirmed', CAST(N'2026-09-30T21:13:27.227' AS DateTime), NULL, NULL)
INSERT [dbo].[BOOKINGS] ([booking_id], [user_id], [computer_id], [start_time], [end_time], [hold_expires_at], [status], [created_at], [cancelled_at], [cancel_reason]) VALUES (2, 2, 16, CAST(N'2026-09-30T15:03:00.000' AS DateTime), CAST(N'2026-09-30T17:03:00.000' AS DateTime), NULL, N'confirmed', CAST(N'2026-09-30T14:33:57.527' AS DateTime), NULL, NULL)
INSERT [dbo].[BOOKINGS] ([booking_id], [user_id], [computer_id], [start_time], [end_time], [hold_expires_at], [status], [created_at], [cancelled_at], [cancel_reason]) VALUES (3, 2, 16, CAST(N'2026-10-01T01:09:00.000' AS DateTime), CAST(N'2026-10-01T03:09:00.000' AS DateTime), CAST(N'2026-10-01T01:39:00.000' AS DateTime), N'expired', CAST(N'2026-09-30T15:10:51.737' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[BOOKINGS] OFF
GO
SET IDENTITY_INSERT [dbo].[CHAT_MESSAGES] ON 

INSERT [dbo].[CHAT_MESSAGES] ([message_id], [chat_session_id], [sender], [content], [created_at]) VALUES (1, 1, N'user', N'Xin chào, tôi muốn hỏi về cấu hình phòng Stream Room?', CAST(N'2026-09-30T20:33:27.230' AS DateTime))
INSERT [dbo].[CHAT_MESSAGES] ([message_id], [chat_session_id], [sender], [content], [created_at]) VALUES (2, 1, N'bot', N'Chào bạn! Phòng Stream Room trang bị Core i9-13900K, 64GB RAM, RTX 4080, Dual Screen 240Hz kèm Micro Rode và Elgato Stream Deck bạn nhé!', CAST(N'2026-09-30T20:34:27.230' AS DateTime))
INSERT [dbo].[CHAT_MESSAGES] ([message_id], [chat_session_id], [sender], [content], [created_at]) VALUES (3, 1, N'user', N'Cảm ơn bạn, tôi muốn đặt trước phòng R01 cho tối nay.', CAST(N'2026-09-30T20:38:27.230' AS DateTime))
SET IDENTITY_INSERT [dbo].[CHAT_MESSAGES] OFF
GO
SET IDENTITY_INSERT [dbo].[CHAT_SESSIONS] ON 

INSERT [dbo].[CHAT_SESSIONS] ([chat_session_id], [user_id], [started_at], [ended_at], [status]) VALUES (1, 1, CAST(N'2026-09-30T20:33:27.230' AS DateTime), NULL, N'open')
INSERT [dbo].[CHAT_SESSIONS] ([chat_session_id], [user_id], [started_at], [ended_at], [status]) VALUES (2, NULL, CAST(N'2026-09-30T14:21:29.307' AS DateTime), NULL, N'open')
INSERT [dbo].[CHAT_SESSIONS] ([chat_session_id], [user_id], [started_at], [ended_at], [status]) VALUES (3, NULL, CAST(N'2026-09-30T14:32:15.000' AS DateTime), NULL, N'open')
SET IDENTITY_INSERT [dbo].[CHAT_SESSIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[COMPUTERS] ON 

INSERT [dbo].[COMPUTERS] ([computer_id], [zone_id], [computer_name], [status]) VALUES (1, 1, N'S01', N'available')
INSERT [dbo].[COMPUTERS] ([computer_id], [zone_id], [computer_name], [status]) VALUES (2, 1, N'S02', N'in_use')
INSERT [dbo].[COMPUTERS] ([computer_id], [zone_id], [computer_name], [status]) VALUES (3, 1, N'S03', N'in_use')
SET IDENTITY_INSERT [dbo].[COMPUTERS] OFF
GO
SET IDENTITY_INSERT [dbo].[EQUIPMENT] ON 

INSERT [dbo].[EQUIPMENT] ([equipment_id], [computer_id], [equipment_name], [condition_status]) VALUES (1, 1, N'Bàn phím cơ DareU EK87 Red Switch', N'good')
INSERT [dbo].[EQUIPMENT] ([equipment_id], [computer_id], [equipment_name], [condition_status]) VALUES (2, 1, N'Chuột Gaming Logitech G102 Lightsync', N'good')
INSERT [dbo].[EQUIPMENT] ([equipment_id], [computer_id], [equipment_name], [condition_status]) VALUES (3, 1, N'Tai nghe DareU EH416 RGB 7.1', N'good')
SET IDENTITY_INSERT [dbo].[EQUIPMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[FOOD_ORDER_ITEMS] ON 

INSERT [dbo].[FOOD_ORDER_ITEMS] ([order_item_id], [order_id], [food_id], [quantity], [unit_price], [subtotal]) VALUES (1, 1, 2, 1, CAST(45000.00 AS Decimal(10, 2)), CAST(45000.00 AS Decimal(10, 2)))
INSERT [dbo].[FOOD_ORDER_ITEMS] ([order_item_id], [order_id], [food_id], [quantity], [unit_price], [subtotal]) VALUES (2, 1, 7, 1, CAST(20000.00 AS Decimal(10, 2)), CAST(20000.00 AS Decimal(10, 2)))
INSERT [dbo].[FOOD_ORDER_ITEMS] ([order_item_id], [order_id], [food_id], [quantity], [unit_price], [subtotal]) VALUES (3, 2, 1, 10, CAST(35000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[FOOD_ORDER_ITEMS] OFF
GO
SET IDENTITY_INSERT [dbo].[FOOD_ORDERS] ON 

INSERT [dbo].[FOOD_ORDERS] ([order_id], [user_id], [booking_id], [session_id], [seat_label], [payment_method], [status], [total_amount], [created_at], [updated_at]) VALUES (1, 1, NULL, 1, N'P01', N'BANK_QR', N'preparing', CAST(65000.00 AS Decimal(12, 2)), CAST(N'2026-09-30T20:58:27.230' AS DateTime), NULL)
INSERT [dbo].[FOOD_ORDERS] ([order_id], [user_id], [booking_id], [session_id], [seat_label], [payment_method], [status], [total_amount], [created_at], [updated_at]) VALUES (2, 2, 9, NULL, N'R04', N'WALLET', N'pending', CAST(350000.00 AS Decimal(12, 2)), CAST(N'2026-10-01T04:07:45.157' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[FOOD_ORDERS] OFF
GO
SET IDENTITY_INSERT [dbo].[FOODS] ON 

INSERT [dbo].[FOODS] ([food_id], [name], [category], [price], [image_url], [status]) VALUES (1, N'Mì xào bò', N'food', CAST(35000.00 AS Decimal(10, 2)), N'https://images.unsplash.com/photo-1612929633738-8fe44f7ec841?auto=format&fit=crop&w=400&q=80', N'available')
INSERT [dbo].[FOODS] ([food_id], [name], [category], [price], [image_url], [status]) VALUES (2, N'Cơm rang dưa bò', N'food', CAST(45000.00 AS Decimal(10, 2)), N'https://images.unsplash.com/photo-1512058564366-18510be2db19?auto=format&fit=crop&w=400&q=80', N'available')
INSERT [dbo].[FOODS] ([food_id], [name], [category], [price], [image_url], [status]) VALUES (3, N'Bánh mì pate trứng', N'food', CAST(25000.00 AS Decimal(10, 2)), N'https://images.unsplash.com/photo-1606850239638-b78f8b8e0508?auto=format&fit=crop&w=400&q=80', N'available')
SET IDENTITY_INSERT [dbo].[FOODS] OFF
GO
SET IDENTITY_INSERT [dbo].[KNOWLEDGE_BASE] ON 

INSERT [dbo].[KNOWLEDGE_BASE] ([knowledge_id], [question], [answer], [category], [status], [created_at], [updated_at]) VALUES (1, N'Làm thế nào để đặt chỗ trước tại Cyber Game?', N'Bạn có thể vào mục ĐẶT MÁY trên thanh menu, chọn khu vực mong muốn (Standard, VIP, Pro Stage, Stream Room), chọn vị trí ghế và khung giờ chơi, sau đó xác nhận thông tin đặt chỗ.', N'Booking', N'active', CAST(N'2026-09-30T21:13:27.207' AS DateTime), NULL)
INSERT [dbo].[KNOWLEDGE_BASE] ([knowledge_id], [question], [answer], [category], [status], [created_at], [updated_at]) VALUES (2, N'Bảng giá giờ chơi tại Cyber Game như thế nào?', N'Giá giờ chơi theo từng khu vực: Standard Zone: 10.000đ/h, VIP Zone: 15.000đ/h, Pro Stage: 20.000đ/h, Stream Room riêng tư: 35.000đ/h.', N'Pricing', N'active', CAST(N'2026-09-30T21:13:27.207' AS DateTime), NULL)
INSERT [dbo].[KNOWLEDGE_BASE] ([knowledge_id], [question], [answer], [category], [status], [created_at], [updated_at]) VALUES (3, N'Tôi có thể nạp tiền vào tài khoản bằng những cách nào?', N'Bạn có thể nạp tiền trực tiếp tại quầy thu ngân bằng tiền mặt, hoặc quét mã chuyển khoản VietQR, ví điện tử MoMo trên hệ thống website.', N'Payment', N'active', CAST(N'2026-09-30T21:13:27.207' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[KNOWLEDGE_BASE] OFF
GO
SET IDENTITY_INSERT [dbo].[PAYMENT_METHODS] ON 

INSERT [dbo].[PAYMENT_METHODS] ([method_id], [name], [code], [is_active], [created_at]) VALUES (1, N'Tiền mặt', N'CASH', 1, CAST(N'2026-09-30T21:13:27.163' AS DateTime))
INSERT [dbo].[PAYMENT_METHODS] ([method_id], [name], [code], [is_active], [created_at]) VALUES (2, N'Chuyển khoản VietQR', N'BANK_QR', 1, CAST(N'2026-09-30T21:13:27.163' AS DateTime))
INSERT [dbo].[PAYMENT_METHODS] ([method_id], [name], [code], [is_active], [created_at]) VALUES (3, N'Ví CyberGame', N'WALLET', 1, CAST(N'2026-09-30T21:13:27.163' AS DateTime))
SET IDENTITY_INSERT [dbo].[PAYMENT_METHODS] OFF
GO
SET IDENTITY_INSERT [dbo].[RECHARGES] ON 

INSERT [dbo].[RECHARGES] ([recharge_id], [user_id], [amount], [method_id], [status], [transaction_code], [created_at], [updated_at], [sepay_transaction_id], [reference_code], [content], [paid_at]) VALUES (1, 1, CAST(5000000.00 AS Decimal(12, 2)), 2, N'completed', N'VQR_ADMIN_INIT_001', CAST(N'2026-09-30T21:13:27.227' AS DateTime), CAST(N'2026-09-30T21:13:27.227' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[RECHARGES] ([recharge_id], [user_id], [amount], [method_id], [status], [transaction_code], [created_at], [updated_at], [sepay_transaction_id], [reference_code], [content], [paid_at]) VALUES (2, 2, CAST(500000.00 AS Decimal(12, 2)), 1, N'completed', N'CG260930143347_2', CAST(N'2026-09-30T14:33:47.043' AS DateTime), CAST(N'2026-09-30T14:33:47.043' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[RECHARGES] ([recharge_id], [user_id], [amount], [method_id], [status], [transaction_code], [created_at], [updated_at], [sepay_transaction_id], [reference_code], [content], [paid_at]) VALUES (3, 2, CAST(100000.00 AS Decimal(12, 2)), 2, N'completed', N'CG261001001449_2', CAST(N'2026-10-01T00:14:49.273' AS DateTime), CAST(N'2026-10-01T00:14:49.273' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RECHARGES] OFF
GO
SET IDENTITY_INSERT [dbo].[SESSIONS] ON 

INSERT [dbo].[SESSIONS] ([session_id], [booking_id], [user_id], [computer_id], [start_time], [end_time], [total_minutes], [total_cost]) VALUES (1, NULL, 1, 61, CAST(N'2026-09-30T19:43:27.227' AS DateTime), NULL, 90, CAST(30000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[SESSIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[SUPPORT_TICKETS] ON 

INSERT [dbo].[SUPPORT_TICKETS] ([ticket_id], [chat_session_id], [assigned_staff], [subject], [status], [created_at]) VALUES (1, 1, 1, N'Tư vấn & đặt trước phòng máy Stream Room R01', N'resolved', CAST(N'2026-09-30T20:43:27.230' AS DateTime))
INSERT [dbo].[SUPPORT_TICKETS] ([ticket_id], [chat_session_id], [assigned_staff], [subject], [status], [created_at]) VALUES (2, 4, NULL, N'Tôi cần gửi ticket hỗ trợ kỹ thuật tới Quản Trị Viên', N'open', CAST(N'2026-10-01T00:13:47.660' AS DateTime))
SET IDENTITY_INSERT [dbo].[SUPPORT_TICKETS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([user_id], [username], [password_hash], [phone], [email], [date_of_birth], [balance], [role], [status], [created_at]) VALUES (1, N'admin', N'$2a$11$4J8sFp.juYYta0hu4BJdKuubIHdGBqVACfJFgvJ4MAwkebBp8eqZS', N'0988888888', N'admin@cybergame.vn', CAST(N'1995-01-01' AS Date), CAST(5000000.00 AS Decimal(12, 2)), N'admin', N'active', CAST(N'2026-09-30T21:13:27.153' AS DateTime))
INSERT [dbo].[USERS] ([user_id], [username], [password_hash], [phone], [email], [date_of_birth], [balance], [role], [status], [created_at]) VALUES (2, N'shadowmon', N'$2a$11$V0nTpfksmK1V615JfNWmz.s8ulpNs1JDqH9aPpjmR/Gq5aWOunihW', N'0908952210', N'huyngoc16062005@gmail.com', NULL, CAST(327500.00 AS Decimal(12, 2)), N'member', N'active', CAST(N'2026-09-30T14:33:32.737' AS DateTime))
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET IDENTITY_INSERT [dbo].[WALLET_TRANSACTIONS] ON 

INSERT [dbo].[WALLET_TRANSACTIONS] ([transaction_id], [user_id], [type], [amount], [reference_id], [created_at]) VALUES (1, 1, N'recharge', CAST(5000000.00 AS Decimal(12, 2)), 1, CAST(N'2026-09-30T21:13:27.227' AS DateTime))
INSERT [dbo].[WALLET_TRANSACTIONS] ([transaction_id], [user_id], [type], [amount], [reference_id], [created_at]) VALUES (2, 2, N'recharge', CAST(500000.00 AS Decimal(12, 2)), 2, CAST(N'2026-09-30T14:33:47.080' AS DateTime))
INSERT [dbo].[WALLET_TRANSACTIONS] ([transaction_id], [user_id], [type], [amount], [reference_id], [created_at]) VALUES (3, 2, N'session_fee', CAST(5000.00 AS Decimal(12, 2)), 2, CAST(N'2026-09-30T14:33:57.543' AS DateTime))
SET IDENTITY_INSERT [dbo].[WALLET_TRANSACTIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[ZONES] ON 

INSERT [dbo].[ZONES] ([zone_id], [zone_name], [specs], [price_per_hour], [status]) VALUES (1, N'Standard Zone', N'Core i5-12400F, 16GB RAM, RTX 3060 12GB, Màn hình 24" IPS 165Hz', CAST(10000.00 AS Decimal(10, 2)), N'active')
INSERT [dbo].[ZONES] ([zone_id], [zone_name], [specs], [price_per_hour], [status]) VALUES (2, N'VIP Zone', N'Core i5-13400F, 32GB RAM, RTX 4060 8GB, Màn hình 27" 2K 240Hz', CAST(15000.00 AS Decimal(10, 2)), N'active')
INSERT [dbo].[ZONES] ([zone_id], [zone_name], [specs], [price_per_hour], [status]) VALUES (3, N'Pro Stage', N'Core i7-13700K, 32GB RAM, RTX 4070 Ti, Màn hình BenQ ZOWIE 240Hz DyAc+', CAST(20000.00 AS Decimal(10, 2)), N'active')
SET IDENTITY_INSERT [dbo].[ZONES] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__COMPUTER__AC63C5EAB16FFC07]    Script Date: 01/10/2026 3:30:40 pm ******/
ALTER TABLE [dbo].[COMPUTERS] ADD UNIQUE NONCLUSTERED 
(
	[computer_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PAYMENT___357D4CF99586EA72]    Script Date: 01/10/2026 3:30:40 pm ******/
ALTER TABLE [dbo].[PAYMENT_METHODS] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__SUPPORT___B39120D5D19F21AD]    Script Date: 01/10/2026 3:30:40 pm ******/
ALTER TABLE [dbo].[SUPPORT_TICKETS] ADD UNIQUE NONCLUSTERED 
(
	[chat_session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__F3DBC572330BB9BB]    Script Date: 01/10/2026 3:30:40 pm ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  CONSTRAINT [DF_Bookings_Status]  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[BOOKINGS] ADD  CONSTRAINT [DF_Bookings_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CHAT_MESSAGES] ADD  CONSTRAINT [DF_ChatMessages_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CHAT_SESSIONS] ADD  CONSTRAINT [DF_ChatSessions_StartedAt]  DEFAULT (getdate()) FOR [started_at]
GO
ALTER TABLE [dbo].[CHAT_SESSIONS] ADD  CONSTRAINT [DF_ChatSessions_Status]  DEFAULT ('open') FOR [status]
GO
ALTER TABLE [dbo].[COMPUTERS] ADD  CONSTRAINT [DF_Computers_Status]  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[EQUIPMENT] ADD  CONSTRAINT [DF_Equipment_Status]  DEFAULT ('good') FOR [condition_status]
GO
ALTER TABLE [dbo].[FOOD_ORDER_ITEMS] ADD  CONSTRAINT [DF_FoodOrderItems_Qty]  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[FOOD_ORDERS] ADD  CONSTRAINT [DF_FoodOrders_Payment]  DEFAULT ('CASH') FOR [payment_method]
GO
ALTER TABLE [dbo].[FOOD_ORDERS] ADD  CONSTRAINT [DF_FoodOrders_Status]  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[FOOD_ORDERS] ADD  CONSTRAINT [DF_FoodOrders_Total]  DEFAULT ((0.00)) FOR [total_amount]
GO
ALTER TABLE [dbo].[FOOD_ORDERS] ADD  CONSTRAINT [DF_FoodOrders_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[FOODS] ADD  CONSTRAINT [DF_Foods_Status]  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[KNOWLEDGE_BASE] ADD  CONSTRAINT [DF_KnowledgeBase_Status]  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[KNOWLEDGE_BASE] ADD  CONSTRAINT [DF_KnowledgeBase_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PAYMENT_METHODS] ADD  CONSTRAINT [DF_PaymentMethods_IsActive]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[PAYMENT_METHODS] ADD  CONSTRAINT [DF_PaymentMethods_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[RECHARGES] ADD  CONSTRAINT [DF_Recharges_Status]  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[RECHARGES] ADD  CONSTRAINT [DF_Recharges_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[SESSIONS] ADD  CONSTRAINT [DF_Sessions_StartTime]  DEFAULT (getdate()) FOR [start_time]
GO
ALTER TABLE [dbo].[SESSIONS] ADD  CONSTRAINT [DF_Sessions_Minutes]  DEFAULT ((0)) FOR [total_minutes]
GO
ALTER TABLE [dbo].[SESSIONS] ADD  CONSTRAINT [DF_Sessions_Cost]  DEFAULT ((0.00)) FOR [total_cost]
GO
ALTER TABLE [dbo].[SUPPORT_TICKETS] ADD  CONSTRAINT [DF_SupportTickets_Status]  DEFAULT ('open') FOR [status]
GO
ALTER TABLE [dbo].[SUPPORT_TICKETS] ADD  CONSTRAINT [DF_SupportTickets_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_Users_Balance]  DEFAULT ((0.00)) FOR [balance]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_Users_Role]  DEFAULT ('member') FOR [role]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_Users_Status]  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[WALLET_TRANSACTIONS] ADD  CONSTRAINT [DF_WalletTransactions_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ZONES] ADD  CONSTRAINT [DF_Zones_Status]  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Computers] FOREIGN KEY([computer_id])
REFERENCES [dbo].[COMPUTERS] ([computer_id])
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK_Bookings_Computers]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK_Bookings_Users]
GO
ALTER TABLE [dbo].[CHAT_MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Sessions] FOREIGN KEY([chat_session_id])
REFERENCES [dbo].[CHAT_SESSIONS] ([chat_session_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHAT_MESSAGES] CHECK CONSTRAINT [FK_ChatMessages_Sessions]
GO
ALTER TABLE [dbo].[CHAT_SESSIONS]  WITH CHECK ADD  CONSTRAINT [FK_ChatSessions_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[CHAT_SESSIONS] CHECK CONSTRAINT [FK_ChatSessions_Users]
GO
ALTER TABLE [dbo].[COMPUTERS]  WITH CHECK ADD  CONSTRAINT [FK_Computers_Zones] FOREIGN KEY([zone_id])
REFERENCES [dbo].[ZONES] ([zone_id])
GO
ALTER TABLE [dbo].[COMPUTERS] CHECK CONSTRAINT [FK_Computers_Zones]
GO
ALTER TABLE [dbo].[EQUIPMENT]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_Computers] FOREIGN KEY([computer_id])
REFERENCES [dbo].[COMPUTERS] ([computer_id])
GO
ALTER TABLE [dbo].[EQUIPMENT] CHECK CONSTRAINT [FK_Equipment_Computers]
GO
ALTER TABLE [dbo].[FOOD_ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_FoodOrderItems_Foods] FOREIGN KEY([food_id])
REFERENCES [dbo].[FOODS] ([food_id])
GO
ALTER TABLE [dbo].[FOOD_ORDER_ITEMS] CHECK CONSTRAINT [FK_FoodOrderItems_Foods]
GO
ALTER TABLE [dbo].[FOOD_ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_FoodOrderItems_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[FOOD_ORDERS] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FOOD_ORDER_ITEMS] CHECK CONSTRAINT [FK_FoodOrderItems_Orders]
GO
ALTER TABLE [dbo].[FOOD_ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_FoodOrders_Bookings] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKINGS] ([booking_id])
GO
ALTER TABLE [dbo].[FOOD_ORDERS] CHECK CONSTRAINT [FK_FoodOrders_Bookings]
GO
ALTER TABLE [dbo].[FOOD_ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_FoodOrders_Sessions] FOREIGN KEY([session_id])
REFERENCES [dbo].[SESSIONS] ([session_id])
GO
ALTER TABLE [dbo].[FOOD_ORDERS] CHECK CONSTRAINT [FK_FoodOrders_Sessions]
GO
ALTER TABLE [dbo].[FOOD_ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_FoodOrders_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[FOOD_ORDERS] CHECK CONSTRAINT [FK_FoodOrders_Users]
GO
ALTER TABLE [dbo].[RECHARGES]  WITH CHECK ADD  CONSTRAINT [FK_Recharges_PaymentMethods] FOREIGN KEY([method_id])
REFERENCES [dbo].[PAYMENT_METHODS] ([method_id])
GO
ALTER TABLE [dbo].[RECHARGES] CHECK CONSTRAINT [FK_Recharges_PaymentMethods]
GO
ALTER TABLE [dbo].[RECHARGES]  WITH CHECK ADD  CONSTRAINT [FK_Recharges_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[RECHARGES] CHECK CONSTRAINT [FK_Recharges_Users]
GO
ALTER TABLE [dbo].[SESSIONS]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Bookings] FOREIGN KEY([booking_id])
REFERENCES [dbo].[BOOKINGS] ([booking_id])
GO
ALTER TABLE [dbo].[SESSIONS] CHECK CONSTRAINT [FK_Sessions_Bookings]
GO
ALTER TABLE [dbo].[SESSIONS]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Computers] FOREIGN KEY([computer_id])
REFERENCES [dbo].[COMPUTERS] ([computer_id])
GO
ALTER TABLE [dbo].[SESSIONS] CHECK CONSTRAINT [FK_Sessions_Computers]
GO
ALTER TABLE [dbo].[SESSIONS]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[SESSIONS] CHECK CONSTRAINT [FK_Sessions_Users]
GO
ALTER TABLE [dbo].[SUPPORT_TICKETS]  WITH CHECK ADD  CONSTRAINT [FK_SupportTickets_ChatSessions] FOREIGN KEY([chat_session_id])
REFERENCES [dbo].[CHAT_SESSIONS] ([chat_session_id])
GO
ALTER TABLE [dbo].[SUPPORT_TICKETS] CHECK CONSTRAINT [FK_SupportTickets_ChatSessions]
GO
ALTER TABLE [dbo].[SUPPORT_TICKETS]  WITH CHECK ADD  CONSTRAINT [FK_SupportTickets_Staff] FOREIGN KEY([assigned_staff])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[SUPPORT_TICKETS] CHECK CONSTRAINT [FK_SupportTickets_Staff]
GO
ALTER TABLE [dbo].[WALLET_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_WalletTransactions_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[WALLET_TRANSACTIONS] CHECK CONSTRAINT [FK_WalletTransactions_Users]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_Status] CHECK  (([status]='expired' OR [status]='cancelled' OR [status]='completed' OR [status]='confirmed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [CK_Bookings_Status]
GO
ALTER TABLE [dbo].[CHAT_MESSAGES]  WITH CHECK ADD  CONSTRAINT [CK_ChatMessages_Sender] CHECK  (([sender]='bot' OR [sender]='staff' OR [sender]='user'))
GO
ALTER TABLE [dbo].[CHAT_MESSAGES] CHECK CONSTRAINT [CK_ChatMessages_Sender]
GO
ALTER TABLE [dbo].[CHAT_SESSIONS]  WITH CHECK ADD  CONSTRAINT [CK_ChatSessions_Status] CHECK  (([status]='closed' OR [status]='open'))
GO
ALTER TABLE [dbo].[CHAT_SESSIONS] CHECK CONSTRAINT [CK_ChatSessions_Status]
GO
ALTER TABLE [dbo].[COMPUTERS]  WITH CHECK ADD  CONSTRAINT [CK_Computers_Status] CHECK  (([status]='offline' OR [status]='maintenance' OR [status]='in_use' OR [status]='available'))
GO
ALTER TABLE [dbo].[COMPUTERS] CHECK CONSTRAINT [CK_Computers_Status]
GO
ALTER TABLE [dbo].[EQUIPMENT]  WITH CHECK ADD  CONSTRAINT [CK_Equipment_Status] CHECK  (([condition_status]='broken' OR [condition_status]='repaired' OR [condition_status]='good'))
GO
ALTER TABLE [dbo].[EQUIPMENT] CHECK CONSTRAINT [CK_Equipment_Status]
GO
ALTER TABLE [dbo].[FOOD_ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [CK_FoodOrderItems_Qty] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[FOOD_ORDER_ITEMS] CHECK CONSTRAINT [CK_FoodOrderItems_Qty]
GO
ALTER TABLE [dbo].[FOOD_ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [CK_FoodOrderItems_Subtotal] CHECK  (([subtotal]>=(0)))
GO
ALTER TABLE [dbo].[FOOD_ORDER_ITEMS] CHECK CONSTRAINT [CK_FoodOrderItems_Subtotal]
GO
ALTER TABLE [dbo].[FOOD_ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [CK_FoodOrderItems_UnitPrice] CHECK  (([unit_price]>=(0)))
GO
ALTER TABLE [dbo].[FOOD_ORDER_ITEMS] CHECK CONSTRAINT [CK_FoodOrderItems_UnitPrice]
GO
ALTER TABLE [dbo].[FOOD_ORDERS]  WITH CHECK ADD  CONSTRAINT [CK_FoodOrders_Payment] CHECK  (([payment_method]='WALLET' OR [payment_method]='BANK_QR' OR [payment_method]='CASH'))
GO
ALTER TABLE [dbo].[FOOD_ORDERS] CHECK CONSTRAINT [CK_FoodOrders_Payment]
GO
ALTER TABLE [dbo].[FOOD_ORDERS]  WITH CHECK ADD  CONSTRAINT [CK_FoodOrders_Status] CHECK  (([status]='cancelled' OR [status]='completed' OR [status]='delivered' OR [status]='preparing' OR [status]='pending'))
GO
ALTER TABLE [dbo].[FOOD_ORDERS] CHECK CONSTRAINT [CK_FoodOrders_Status]
GO
ALTER TABLE [dbo].[FOOD_ORDERS]  WITH CHECK ADD  CONSTRAINT [CK_FoodOrders_Total] CHECK  (([total_amount]>=(0)))
GO
ALTER TABLE [dbo].[FOOD_ORDERS] CHECK CONSTRAINT [CK_FoodOrders_Total]
GO
ALTER TABLE [dbo].[FOODS]  WITH CHECK ADD  CONSTRAINT [CK_Foods_Category] CHECK  (([category]='utility' OR [category]='snack' OR [category]='drink' OR [category]='food'))
GO
ALTER TABLE [dbo].[FOODS] CHECK CONSTRAINT [CK_Foods_Category]
GO
ALTER TABLE [dbo].[FOODS]  WITH CHECK ADD  CONSTRAINT [CK_Foods_Price] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[FOODS] CHECK CONSTRAINT [CK_Foods_Price]
GO
ALTER TABLE [dbo].[FOODS]  WITH CHECK ADD  CONSTRAINT [CK_Foods_Status] CHECK  (([status]='hidden' OR [status]='out_of_stock' OR [status]='available'))
GO
ALTER TABLE [dbo].[FOODS] CHECK CONSTRAINT [CK_Foods_Status]
GO
ALTER TABLE [dbo].[KNOWLEDGE_BASE]  WITH CHECK ADD  CONSTRAINT [CK_KnowledgeBase_Status] CHECK  (([status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[KNOWLEDGE_BASE] CHECK CONSTRAINT [CK_KnowledgeBase_Status]
GO
ALTER TABLE [dbo].[RECHARGES]  WITH CHECK ADD  CONSTRAINT [CK_Recharges_Amount] CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[RECHARGES] CHECK CONSTRAINT [CK_Recharges_Amount]
GO
ALTER TABLE [dbo].[RECHARGES]  WITH CHECK ADD  CONSTRAINT [CK_Recharges_Status] CHECK  (([status]='cancelled' OR [status]='failed' OR [status]='completed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[RECHARGES] CHECK CONSTRAINT [CK_Recharges_Status]
GO
ALTER TABLE [dbo].[SESSIONS]  WITH CHECK ADD  CONSTRAINT [CK_Sessions_Cost] CHECK  (([total_cost]>=(0)))
GO
ALTER TABLE [dbo].[SESSIONS] CHECK CONSTRAINT [CK_Sessions_Cost]
GO
ALTER TABLE [dbo].[SESSIONS]  WITH CHECK ADD  CONSTRAINT [CK_Sessions_Minutes] CHECK  (([total_minutes]>=(0)))
GO
ALTER TABLE [dbo].[SESSIONS] CHECK CONSTRAINT [CK_Sessions_Minutes]
GO
ALTER TABLE [dbo].[SUPPORT_TICKETS]  WITH CHECK ADD  CONSTRAINT [CK_SupportTickets_Status] CHECK  (([status]='closed' OR [status]='resolved' OR [status]='in_progress' OR [status]='open'))
GO
ALTER TABLE [dbo].[SUPPORT_TICKETS] CHECK CONSTRAINT [CK_SupportTickets_Status]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [CK_Users_Balance] CHECK  (([balance]>=(0)))
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [CK_Users_Balance]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([role]='member' OR [role]='staff' OR [role]='admin'))
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [CK_Users_Role]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [CK_Users_Status] CHECK  (([status]='inactive' OR [status]='banned' OR [status]='active'))
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [CK_Users_Status]
GO
ALTER TABLE [dbo].[WALLET_TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [CK_WalletTransactions_Type] CHECK  (([type]='refund' OR [type]='food_order' OR [type]='booking' OR [type]='session_fee' OR [type]='recharge'))
GO
ALTER TABLE [dbo].[WALLET_TRANSACTIONS] CHECK CONSTRAINT [CK_WalletTransactions_Type]
GO
ALTER TABLE [dbo].[ZONES]  WITH CHECK ADD  CONSTRAINT [CK_Zones_Price] CHECK  (([price_per_hour]>=(0)))
GO
ALTER TABLE [dbo].[ZONES] CHECK CONSTRAINT [CK_Zones_Price]
GO
ALTER TABLE [dbo].[ZONES]  WITH CHECK ADD  CONSTRAINT [CK_Zones_Status] CHECK  (([status]='inactive' OR [status]='maintenance' OR [status]='active'))
GO
ALTER TABLE [dbo].[ZONES] CHECK CONSTRAINT [CK_Zones_Status]
GO
